<div class="container habilidades-wrapper">
    <div class="row justify-content-center text-center">
        <div class="col-12 col-md-6 col-lg-4 mb-4 bg-white habilidades" style="border-radius: 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-End</h3>

            <p>
                Principales habilidades para el desarrollo de lógica que cumpla con los requerimientos de negocio.
            </p>

            <p class="text-primary cabecera">Stack:</p>
            <p>C#</p>
            <p>ASP.NET Core</p>
            <p>ASP.NET Core Web API</p>
            <p>SQL Server</p>

            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li class="mb-2">Web de Vemuza Transportes (Empresa Propia)</li>
                <li class="mb-2">Aplicación Móvil para Android de Vemuza Transportes</li>
                <li class="mb-2">Web para control de finanzas personales</li>
            </ul>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 bg-white habilidades" style="border-radius: 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-End</h3>

            <p>
                Puedo crear Front-End que se adapten a los requerimientos del negocio.
            </p>

            <p class="text-primary cabecera">Stack:</p>
            <p>JavaScript</p>
            <p>TypeScript</p>
            <p>React</p>
            <p>Tailwind CSS</p>

            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li class="mb-2">Web de Vemuza Transportes (Empresa Propia)</li>
                <li class="mb-2">Aplicación Móvil para Android de Vemuza Transportes</li>
                <li class="mb-2">Web para control de finanzas personales</li>
            </ul>
        </div>
    </div>
</div>
