<div class="text-center" >
    <h1 class="display-4">Soy Joseth Alarcón</h1>

    <h2>Desarrollador full stack especializado en tecnologías .NET y JavaScript.</h2>

    <img style="border-radius: 15px 15px 15px 15px; box-shadow: 0 5px 5px 0 gray" class="icono-red-social" id="foto"
         src="~/imagenes/fotoTraje2.png" alt="Foto de Joseth" />
</div>

<div class="text-center icono-red-social">
    <img id="imagen-dotnet" src="~/imagenes/CSharp-logo.jpg" alt="Logo-CSharp" />
    <img id="imagen-dotnet" src="~/imagenes/Java-logo.jpg" alt="Logo-Java" />
    <img id="imagen-dotnet" src="~/imagenes/JavaScript-logo.jpg" alt="Logo-JavaScript" />
    <img id="imagen-dotnet" src="~/imagenes/TypeScript-logo.jpg" alt="Logo-TypeScript" />
    <img id="imagen-dotnet" src="~/imagenes/React-logo.jpg" alt="Logo-React" />
</div>

<div class="row justify-content-center text-center bg-primary pb-5">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>

        <p>
            Hola, mi nombre es Joseth Alarcón. Soy desarrollador full stack. Me encuentro listo y entusiasmado por dar el siguiente paso: aportar valor real a una empresa del rubro tecnológico.

            Tengo conocimientos en varias tecnologías como C#, Java, JavaScript, React y .NET, además de experiencia trabajando con Android Studio, control de versiones con GitHub y conexiones a bases de datos relacionales com SQL Server y MySQL usando PHP. También he participado en el diseño y modelado de bases de datos, empleando metodologias agiles y diagramas UML para estructurar proyectos de forma clara y eficiente.

            Me apasiona entregar soluciones de calidad, aprender constantemente y adaptarme rápidamente a nuevos entornos. Te aseguro que daré el 100% para integrarme a tu equipo y contribuir con compromiso, responsabilidad y dedicación.
        </p>

    </div>
</div>